In [2]:
import pandas as pd
import os
import glob
import time
import numpy as np

In [8]:
def get_path(country):
    base = f'../../data/02-randomize/{country}/04-stratification/'
    path_strats = base + 'collect/'
    path_rand = base + 'integrate/'
    return path_strats, path_rand

path_strats, path_rand = get_path('SA')

In [9]:
all_files = glob.glob(os.path.join(path_strats, "*.parquet"))
df = pd.concat((pd.read_parquet(f) for f in all_files), ignore_index=True)
df

,username,follower_id,blockid1,blockid2,treatment,id
0,SibuM15,1000382380618801154,910,1803,1,11111111
1,aaron_lebea,1000462799351570432,398,663,0,11111111
2,MusheerHasan1,1000469765381472256,151,118,1,11111111
3,KO_Tsomele,1001016845976133632,410,694,0,11111111
4,MagalaleSebati,1001138483216437248,353,565,0,11111111
...,...,...,...,...,...,...
44196,RomeoMasiya,730441406,2,3,1,222222222a
44197,Queertified,765123456,2,3,0,222222222a
44198,Lubabalo_K,788950034,4,7,1,222222222a
44199,petrohlee,803124849514336256,2,4,0,222222222a
44200,BTBoekkooi,925020120866611200,3,6,0,222222222a

In [10]:
df['treatment'] = pd.to_numeric(df['treatment'])

In [11]:
df.to_parquet(f'{path_rand}followers_randomized.parquet')