In [1]:
import pandas as pd
import os
import glob
import time
import numpy as np

In [2]:
def get_path(country):
    base = f'../../data/02-randomize/{country}/04-stratification/'
    path_strats = base + 'collect_batch2/'
    path_rand = base + 'integrate/'
    return path_strats, path_rand

path_strats, path_rand = get_path('SA')

In [3]:
all_files = glob.glob(os.path.join(path_strats, "*.parquet"))
df = pd.concat((pd.read_parquet(f) for f in all_files), ignore_index=True)
df

,username,follower_id,blockid1,blockid2,treatment,id
0,milestunhi,1000263301182476289,184,189,0,11111111
1,JaravazaVanessa,1001406436478513152,143,100,1,11111111
2,cshndi,1001833216402251776,207,241,1,11111111
3,givmangwende,1003813557073530880,202,232,1,11111111
4,MakoMidzi,1003945105517109249,184,189,1,11111111
...,...,...,...,...,...,...
28636,Ke_georginah,2270946743,1,2,1,222222222a
28637,briantau1,251925293,1,1,1,222222222a
28638,Zama_B02,2678104934,1,2,0,222222222a
28639,daddyhope,73672445,3,5,0,222222222a
28640,aya_mpanza,743780095,1,1,0,222222222a

In [9]:
df['treatment'] = pd.to_numeric(df['treatment'])

In [10]:
df.to_parquet(f'{path_rand}followers_randomized_batch2.parquet')